:root {
  --green: #60d7b9;
}

.App {
  height: 100dvh;
  text-align: center;
}

.container {
  background-color: var(--green);
  width: 100%;
  max-width: 50rem;
  margin: 24px auto;
  box-shadow: -14px 14px 5px rgba(0, 0, 0, 0.1);
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 32px;
}
.introSettings {
  min-width: 380px;
}

.settingsContainer {
  width: 100%;
  min-height: 1px;
  position: relative;
}
.settingsButton {
  position: absolute;
  right: 8px;
  top: 14px;
}
.settings {
  background: #313131;
  color: white;
  padding: 12px 40px;
}
.sentenceSetting {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 8px;
}

.logo {
  height: 80px;
  margin-top: 20px;
}

.playArea {
  flex: 1;
  overflow: auto;
}
.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  margin: 24px;
}
.rows {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.row {
  display: flex;
  flex-direction: row;
}
.letter {
  width: 1.5em;
  height: 1.5em;
  background: #313131;
  color: #dddddd;
  font-weight: bold;
  border: 1px solid #5b5b5b;
  line-height: 1.5em;
  text-align: center;
}
.letter:first-of-type {
  border-radius: 6px 0 0 6px;
  color: white;
}
.letter:last-of-type {
  border-radius: 0 6px 6px 0;
  margin-right: 4px;
}

input {
  flex: 1;
}

.actions {
  height: 26px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 4px;
}
.icon {
  opacity: 0.5;
}
.icon.active {
  opacity: 1;
}
.scoreBox {
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  font-weight: bold;
}

.bottomContainer {
  padding: 24px;
}

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    box-shadow: none;
    max-width: 100%;
    height: 100%;
  }
  .letterCloud {
    width: 80%;
    aspect-ratio: 517 / 489;
  }
  .introLogo {
    width: 90%;
    aspect-ratio: 623 / 146;
  }
  .columns {
    gap: 4px;
    margin: 0 12px;
  }
  .header {
    display: flex;
    flex-direction: row;
  }
  .timer {
    flex: 1;
  }
  .logo {
    height: 26px;
    margin-top: 8px;
    margin-bottom: 12px;
    margin-right: 38px;
  }
}
