:root {
  --green: #52beaa;
  /* --green: #60d7b9; */
  --text: black;
  --button: #e9eaed;
}

body {
  background-color: white;
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
}

button {
  background: var(--button);
  font-family: "Jost";
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.2em;
  border-radius: 14px;
  padding: 2px 8px;
  border: none;
  color: var(--text);
}
button.buttonSecondary {
  background: none;
  border: 1px solid var(--text);
}
button.buttonSecondary.onDark {
  color: white;
  border-color: white;
}

.App {
  height: 100dvh;
  text-align: center;
}

.container {
  background-color: var(--green);
  width: 100%;
  max-width: 50rem;
  margin: 24px auto;
  box-shadow: -14px 14px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 32px;
}
.letterCloud {
  width: 50%;
}
.introSettings {
  min-width: 380px;
  padding: 0 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.settingsContainer {
  width: 100%;
  min-height: 1px;
  position: relative;
}
.settingsButton {
  position: absolute;
  right: 6px;
  top: 8px;
}
.settings {
  background: #313131;
  color: white;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: stretch;
}
.sentenceSetting {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 8px auto;
}
.settingsText {
  font-family: "Jost";
  font-weight: 500;
  font-size: 1.2em;
  line-height: 1.2em;
}
.sentenceSetting .row {
  gap: 8px;
}
.settings input,
.sentenceSetting input {
  flex: 1;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
}

.logo {
  height: 80px;
  margin-top: 20px;
}

.playArea {
  flex: 1;
  overflow: auto;
}
.columnsToRows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  margin: 24px;
  margin-bottom: 30px;
}
.rows {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.letter {
  flex-shrink: 0;
  width: 1.5em;
  height: 1.5em;
  background: #313131;
  color: #dddddd;
  font-weight: bold;
  border: 1px solid #5b5b5b;
  line-height: 1.3em;
  text-align: center;
  box-sizing: border-box;
}
.letter:nth-child(1) {
  border-radius: 6px 0 0 6px;
  color: white;
}
.letter:nth-child(2) {
  border-radius: 0 6px 6px 0;
  margin-right: 4px;
}

.inputContainer {
  flex: 1;
  margin-right: 4px;
  height: 1.5em;
}
.inputContainer input {
  font-family: "Bree Serif", serif;
  border: none;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  font-size: 1em;
  box-sizing: border-box;
  padding: 8px;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: top;
  text-transform: capitalize;
  border: 1px solid var(--green);
}

.buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.actions {
  height: 1.5em;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 4px;
}
.iconContainer {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  opacity: 0.5;
  color: #454545;
  background-color: #d8d8d8;
}
.iconContainer.active {
  opacity: 1;
  background-color: #fbc412;
}
.scoreBox {
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  font-weight: bold;
}

.bottomContainer {
  position: relative;
  padding: 24px;
  padding-top: 0;
}
.bottomContainer::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 30px;
  background: linear-gradient(transparent, var(--green));
}

.rules {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 2;
  overflow-y: auto;
  font-family: "Jost";
  text-align: left;
  padding: 24px;
  box-sizing: border-box;
}
.rules h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.rules h2 {
  font-weight: 500;
  font-size: 1.4em;
  margin-bottom: 0.2em;
}
.rules h2 span {
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: 800;
}
.footer {
  text-align: center;
  font-size: 0.7em;
  margin: 2em auto;
  max-width: 300px;
}

.demoLetters {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 80%;
  max-width: 300px;
  margin: 0.5em auto 0;
}

.x {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  line-height: 50px;
  font-size: 50px;
}

.timer {
  flex: 1 1;
  text-align: left;
  font-size: 1.5em;
  font-family: "Jost";
  padding: 5px 12px;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  body {
    background: var(--green) url(/public/images/background.jpg) no-repeat 100%
      100% / cover;
  }
  .container {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    box-shadow: none;
    max-width: 100%;
    height: 100%;
  }
  .letterCloud {
    width: 65%;
    aspect-ratio: 517 / 489;
    object-fit: contain;
  }
  .introLogo {
    width: 90%;
    aspect-ratio: 623 / 146;
    object-fit: contain;
  }
  .settings input,
  .sentenceSetting input {
    font-size: 1.4em;
    width: 100%;
  }
  .playArea {
    font-size: 1.6em;
  }
  .columnsToRows {
    flex-direction: column;
    gap: 4px;
    margin: 0 12px 30px;
  }
  .header {
    display: flex;
    flex-direction: row;
  }
  .logo {
    height: 26px;
    margin-top: 8px;
    margin-bottom: 12px;
    margin-right: 38px;
  }
}
