:root {
  --green: #60d7b9;
}

.App {
  text-align: center;
}

.container {
  background-color: var(--green);
  width: 100%;
  max-width: 50rem;
  margin: 24px auto;
  box-shadow: -14px 14px 5px rgba(0, 0, 0, 0.1);
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 32px;
}
.introSettings {
  min-width: 380px;
}

.settingsContainer {
  width: 100%;
  min-height: 1px;
  position: relative;
}
.settingsButton {
  position: absolute;
  right: 8px;
  top: 14px;
}
.settings {
  background: #313131;
  color: white;
  padding: 12px 40px;
}
.sentenceSetting {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.logo {
  height: 80px;
  margin-top: 20px;
}

.columns {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin: 24px;
}
.rows {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.row {
  display: flex;
  flex-direction: row;
}
.letter {
  width: 1.5em;
  height: 1.5em;
  background: #313131;
  color: #dddddd;
  font-weight: bold;
  border: 1px solid #5b5b5b;
  line-height: 1.5em;
  text-align: center;
}
.letter:first-of-type {
  border-radius: 6px 0 0 6px;
  color: white;
}
.letter:last-of-type {
  border-radius: 0 6px 6px 0;
  margin-right: 4px;
}

input {
  flex: 1;
}

.actions {
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
.icon {
  opacity: 0.3;
}
.icon.active {
  opacity: 1;
}
.scoreBox {
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  font-weight: bold;
}

.bottomContainer {
  padding: 24px;
}